$bg_color: black;
$bg-color2: rgba(0, 0, 0, 0.39);
$height_1: 12vh;
$f_size: 1.1rem;
$color1:#e0d2d4;
$color2:#e0d2d4;
$color3:#e0d2d4;
$color4:#e0d2d4;

@mixin backgrounds($colors){
    background-color: $colors;
  }

  